{
  "presets": [
    "es2015-rollup"
  ],
  "plugins": [
    "syntax-flow",
    "transform-flow-strip-types",
    "transform-object-rest-spread"
  ],
  "comments": false,
  "env": {
    "development": {
      "presets": [],
      "comments": false,
      "plugins": [],
    },
    "production": {
      "presets": [
        "babili"
      ],
      "comments": false,
      "plugins": []
    }
  }
}